# Importing necessary Libraries

In [1]:
import pandas as pd
import numpy as np

## Reading the data

In [2]:
dataset=pd.read_csv("/kaggle/input/2023-data-scientists-salary/ds_salaries.csv")

In [3]:
dataset

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M
...,...,...,...,...,...,...,...,...,...,...,...
3750,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L
3751,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L
3752,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S
3753,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L
3754,2021,SE,FT,Data Science Manager,7000000,INR,94665,IN,50,IN,L

### Dropping un-necessary columns to make data more informative

In [4]:
dataset=dataset.drop(['work_year','salary_currency','salary_in_usd','employee_residence'],axis=1)
dataset

,experience_level,employment_type,job_title,salary,remote_ratio,company_location,company_size
0,SE,FT,Principal Data Scientist,80000,100,ES,L
1,MI,CT,ML Engineer,30000,100,US,S
2,MI,CT,ML Engineer,25500,100,US,S
3,SE,FT,Data Scientist,175000,100,CA,M
4,SE,FT,Data Scientist,120000,100,CA,M
...,...,...,...,...,...,...,...
3750,SE,FT,Data Scientist,412000,100,US,L
3751,MI,FT,Principal Data Scientist,151000,100,US,L
3752,EN,FT,Data Scientist,105000,100,US,S
3753,EN,CT,Business Data Analyst,100000,100,US,L
3754,SE,FT,Data Science Manager,7000000,50,IN,L

### Making Salary as Label

In [5]:
y=pd.DataFrame(dataset.salary)
y.column=['salary']

/tmp/ipykernel_19/1118461398.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  y.column=['salary']

### Dropping salary from the original dataset

In [6]:
dataset=dataset.drop(['salary'],axis=1)
dataset

,experience_level,employment_type,job_title,remote_ratio,company_location,company_size
0,SE,FT,Principal Data Scientist,100,ES,L
1,MI,CT,ML Engineer,100,US,S
2,MI,CT,ML Engineer,100,US,S
3,SE,FT,Data Scientist,100,CA,M
4,SE,FT,Data Scientist,100,CA,M
...,...,...,...,...,...,...
3750,SE,FT,Data Scientist,100,US,L
3751,MI,FT,Principal Data Scientist,100,US,L
3752,EN,FT,Data Scientist,100,US,S
3753,EN,CT,Business Data Analyst,100,US,L
3754,SE,FT,Data Science Manager,50,IN,L

### Making variable 'x' as feature

In [7]:
x=dataset.iloc[:,:]
x

,experience_level,employment_type,job_title,remote_ratio,company_location,company_size
0,SE,FT,Principal Data Scientist,100,ES,L
1,MI,CT,ML Engineer,100,US,S
2,MI,CT,ML Engineer,100,US,S
3,SE,FT,Data Scientist,100,CA,M
4,SE,FT,Data Scientist,100,CA,M
...,...,...,...,...,...,...
3750,SE,FT,Data Scientist,100,US,L
3751,MI,FT,Principal Data Scientist,100,US,L
3752,EN,FT,Data Scientist,100,US,S
3753,EN,CT,Business Data Analyst,100,US,L
3754,SE,FT,Data Science Manager,50,IN,L

### Since a lot of data was in the form of string and since they were important and could be easily classified, Label Encoder has been used.

In [8]:
from sklearn.preprocessing import LabelEncoder
LE=LabelEncoder()

In [9]:
x['exp_lvl']=LE.fit_transform(x.experience_level)
x['emp_type']=LE.fit_transform(x.employment_type)
x['job']=LE.fit_transform(x.job_title)
x['remote ratio']=LE.fit_transform(x.remote_ratio)
x['company_loc']=LE.fit_transform(x.company_location)
x['company size']=LE.fit_transform(x.company_size)

### Dropping the older columns

In [10]:
x=x.drop(['experience_level','employment_type','job_title','remote_ratio','company_location','company_size'],axis=1)

### Following is how the feature dataset looks like

In [11]:
x

      exp_lvl  emp_type  job  remote ratio  company_loc  company size
0           3         2   84             2           25             0
1           2         0   66             2           70             2
2           2         0   66             2           70             2
3           3         2   47             2           12             1
4           3         2   47             2           12             1
...       ...       ...  ...           ...          ...           ...
3750        3         2   47             2           70             0
3751        2         2   84             2           70             0
3752        0         2   47             2           70             2
3753        0         0   17             2           70             0
3754        3         2   45             1           38             0

[3755 rows x 6 columns]

In [12]:
x.describe()

,exp_lvl,emp_type,job,remote ratio,company_loc,company size
count,3755.000000,3755.000000,3755.000000,3755.000000,3755.000000,3755.000000
mean,2.469241,1.996538,39.661784,0.925433,62.117177,0.918509
std,0.906261,0.133550,18.536695,0.971781,17.495432,0.392071
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,2.000000,27.000000,0.000000,70.000000,1.000000
50%,3.000000,2.000000,33.000000,0.000000,70.000000,1.000000
75%,3.000000,2.000000,47.000000,2.000000,70.000000,1.000000
max,3.000000,3.000000,92.000000,2.000000,71.000000,2.000000

### The columns 'job' and 'company_loc' had values ranging from 0 to 92 and 71 respectively and rest were ranging from 0 to 2 or 3.
### If the model was feeded the data in the same way, it could have assumed the data with higher values as important and might have neglected the data with smaller values. 
### Therefore it was necessary to manipulate the data and make all values lie within same range.

In [13]:
from sklearn.preprocessing import MinMaxScaler
m_m_s=MinMaxScaler(feature_range=(0,3))

#### applying MinMaxScaler to job

In [14]:
cj=x['job']
cj=np.array(cj)
cj=cj.reshape(-1,1)

In [15]:
x['job_']=m_m_s.fit_transform(cj)

#### applying MinMaxScaler to company location

In [16]:
cl=x['company_loc']
cl=np.array(cl)
cl=cl.reshape(-1,1)

In [17]:
x['comapy_location']=m_m_s.fit_transform(cl)

### dropping older 'job' and 'comapny location'

In [18]:
x=x.drop(['job','company_loc'],axis=1)

### This is the preprocessed data now

In [19]:
x

      exp_lvl  emp_type  remote ratio  company size      job_  comapy_location
0           3         2             2             0  2.739130         1.056338
1           2         0             2             2  2.152174         2.957746
2           2         0             2             2  2.152174         2.957746
3           3         2             2             1  1.532609         0.507042
4           3         2             2             1  1.532609         0.507042
...       ...       ...           ...           ...       ...              ...
3750        3         2             2             0  1.532609         2.957746
3751        2         2             2             0  2.739130         2.957746
3752        0         2             2             2  1.532609         2.957746
3753        0         0             2             0  0.554348         2.957746
3754        3         2             1             0  1.467391         1.605634

[3755 rows x 6 columns]

### Splitting the data into training and testing data

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
x_train,x_test,y_train,y_test=train_test_split(x,y)

### Decision Tree Regressor has been taken as ML model

In [22]:
from sklearn.tree import DecisionTreeRegressor

In [23]:
model=DecisionTreeRegressor()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

#### The training score is:

In [24]:
model.score(x_train,y_train)

0.9907901737483404

#### The testing score is:

In [25]:
model.score(x_test,y_test)

-2.8584871737809174

### In a regression problem, it is important to know the mean absolute error to judge the model performance

In [26]:
from sklearn.metrics import mean_absolute_error

In [27]:
mae=mean_absolute_error(y_test,y_pred)
mae

119130.26681906302